:root {
    --main: #ffccdb;
    --primary: #939cfa;
    --secondary: #9a012b;
    --tertiary: #5fad63;
    --quarternary: #fdd24c;
}

body {
background-color: var(--main);
}
.navigation {
    background-color: var(--secondary);
}
div.nav {
    color: var(--primary);
}
li.nav-links {
    list-style-type: none;
}
